<!doctype html>
<html>
  <head>
    <title> Gauguin - Editor </title>
  </head>
  <body>
    <script type="text/javascript">
      const __gauguinConfig = JSON.parse({{.GauguinConfig}})
    </script>
    <div id="gauguin-editor-root"></div>
  </body>
</html>